* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: capitalize;
}
:root {
  --main-color: aliceblue;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
nav {
  background-color: white;
}
body {
  margin: 0;
  padding: 0;
}

nav .logo img {
  height: 5rem;
  float: left;
}
.container::after {
  content: "";
  display: block;
  clear: both;
  margin-top: 20px;
}
nav a {
  float: right;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  background-color: white;
}
nav a:hover {
  background-color: rgb(194, 116, 63);
  color: white;
  animation: flash 0.5s infinite;
}
main .back-ground {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(3, 3, 3)),
    url(./image1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  width: 100%;
  background-position: center;
}
main {
  position: relative;
}
.back-ground .side-text .search input {
  width: 400px;
  padding: 15px;
  color: white;
  position: absolute;
  right: 25%;
  top: 40%;
  border-radius: 15px;
}
main .side-text h1 {
  color: white;
  font-family: cursive;
  padding: 6rem 3rem 0rem;
}

main .side-text p {
  color: var(--main-color);
  font-size: 1rem;
  text-align: center;
  padding: 1rem 2rem;
  width: 30rem;
  line-height: 1.5rem;
}
section article {
  float: left;
  width: 30%;
  height: 20vh;
}
.container .first .one,
.container .second .one {
  float: left;
  width: 33%;
  background-position: center;
  height: 20rem;
  clip-path: circle();
  background-size: cover;
  position: relative;
}
.first .one:first-child {
  background-image: url(./section1.jpg);
}
.first .one:nth-child(2) {
  background-image: url(./section2.jpg);
}
.first .one:last-child {
  background-image: url(./section3.jpg);
}
.second .one:first-child {
  background-image: url(./Spinach-Pancakes.jpg);
}
.second .one:nth-child(2) {
  background-image: url(./strawberry.jpg);
}
.second .one:last-child {
  background-image: url(./egg.jpg);
}

h2 {
  color: white;
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 40%;
  padding-left: 30%;
}

section {
  margin-top: 1rem;
}
.about .about-img {
  background-image: url(./about.jpg);
  width: 60%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  float: right;
}
.about .about-text p {
  width: 50%;
  color: rgb(14, 13, 13);
}
.about-text p {
}

.about {
  line-height: 30px;
  color: rgb(12, 12, 12);
}

.form {
  background-image: url(./image1.jpg);
  opacity: 0.5;
  line-height: 40px;
  padding: 50px;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.form #name,
.form #email,
.form #number,
.form #button {
  width: 50%;
  height: 30px;
  border: none;
}
